run/
*.crt
input/*.tsv.*
udf/bazaar/
**/*.zip
**/*.sh.*
project/target/

**/.idea/
**/.ensime
**/target/
**/project/target/
**/*.tsv
**/*.csv
**/src/main/resources/application.conf
**/.ensime_cache/
**/project/project/
**/ensime.sbt
